userlist*.html
usernameCrawler*.pickle
usernameCrawler*.pickle_bak

# stuff that really does not interest anybody
sandbox.py

# in case I dump my results in this directory
*.json

# the usual
*.pyc
*~

# pycharm
.idea/*

# for prevention of sloppy mistakes
*id_rsa*

*env-file.txt

# somehow I always manage to get core dumps into my directory from killing twisterd :P
core
