userlist*.html
usernameCrawler*.pickle
usernameCrawler*.pickle_bak

# stuff that really does not interest anybody
sandbox.py

# in case I dump my results in this directory
*.json

# the usual
*.pyc
*~

# pycharm
.idea/*

# sensitive data
LoginData.py

id_rsa*
